@import "../../styles/variables";
@import "../../styles/breakpoints";

.add_product {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.img_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pic {
    object-fit: contain;
    max-height: 20em;
    min-height: 10em;
    width: 20em;
  }

  & > h4 {
    padding: 5em;
    border: 1px solid $border-color;
  }

  .attach_btn {
    margin: 1em 0;
  }
}

.product_form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 100%;

  .details {
    margin-bottom: 1em;
    display: flex;

    .first {
      margin: 0 0.5em 0 0;
    }
  }

  textarea {
    border-radius: 5px;
    outline: none;
    border: 1px solid $input-border-color;
    padding: 0.5em;
  }

  button.submit_button {
    margin-top: 2em;
  }
}

.categories {
  display: flex;
  align-items: center;

  & > .form_control {
    flex-basis: 90%;
    min-width: 10em;
  }

  .chips {
    display: flex;
    flex-wrap: wrap;
  
    .chip {
      margin: 0.2em;
    }
  }
}


@media (max-width: $md) {
  .add_product {
    flex-direction: column;
  }

  .img_container {
    margin-bottom: 3em;
  }
}

@media (min-width: $xs) {
  button.submit_button {
    align-self: flex-end;
  }
}
