@import "../../styles/variables";
@import "../../styles/breakpoints";

.sellers {
  &_header {
    margin: 1em 0;
    margin-left: 1em;

    @media (max-width: $sm) {
      & > p {
        font-size: 0.9em;
      }
    }
  }
}
