@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.search {
  display: flex;
  flex: 1;
  align-items: center;
  
  &_input {
    padding: 1em 1em;
    border: 2px solid $primary;
    flex: 1;
    outline: none;
    height: 2em;
  }
  
  fieldset {
    border-radius: 0;
  }
  
  button {
    background: $primary;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 1.35em;
    width: 1.5em;
    

    &:hover,
    &:focus {
      background: rgba($primary-hover, 1.1);
    }
  }
}