@import "../../../styles/layouts";
@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.rating_container {
  margin-bottom: 1em;

  .rating_bar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;

    .rating {
      font-size: 1.2rem;
      font-weight: 700;
    }

    .overall {
      margin-bottom: 2em;
    }
  }

  .reviews {
    display: flex;
    flex-direction: column;

    .pagination {
      align-self: center;
    }
  }
}


@media (max-width: $md) {
  .rating_bar_container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3em;

    .rating_bar {
      margin-bottom: 3em;
    }
  }
}