@import "./breakpoints";
@import "./variables";

.overlay_container {
  position: relative;

  &:hover .overlay {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 500ms ease;
  background-color: rgba(0, 0, 0, 0.2);
  // border-radius: 50%;
}

.overlay_text {
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card_hover {
  &:hover,
  &:focus {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  }
}

.tabs {
  border-bottom: 2px solid $border-color;

  button {
    @media (max-width: $sm) {
      font-size: 0.75rem;
    }
    @media (max-width: $xs) {
      font-size: 0.65rem;
    }
  }
}
