@import "./breakpoints";

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 1em;

  @media (min-width: $sm) {
      padding: 2em 1em;
  }
}

// --------------- FLEX
.flex_row {
  display: flex;
  justify-content: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

// --------------- MARGINS
.mt_sm {
  margin-top: 1em;
}
.mt_md {
  margin-top: 2em;
}
.mt_lg {
  margin-top: 4em;
}
.mt_xl {
  margin-top: 6em;
}

.mb_sm {
  margin-bottom: 1em;
}
.mb_md {
  margin-bottom: 2em;
}

.mr_sm {
  margin-right: 1em;
}
.mr_md {
  margin-right: 2em;
}

.ml_sm {
  margin-left: 1em;
}

.my_sm {
  margin-top: 2em;
  margin-bottom: 2em;
}
.my_md {
  margin-top: 4em;
  margin-bottom: 4em;
}

.my_lg {
  margin-top: 5em;
  margin-bottom: 5em;
}

.my_xl {
  margin-top: 6em;
  margin-bottom: 6em;
}

// ------------- PADDINGS
.pa_sm {
  padding: 1em;
}

.pa_md {
  padding: 2em;
}