@import "./breakpoints";

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 1em 0;

  @media (min-width: $sm) {
      padding: 2em 1em;
  }
}

// --------------- FLEX
.flex_row {
  display: flex;
  justify-content: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

// --------------- MARGINS
.mb_sm {
  margin-bottom: 1em;
}
.mb_md {
  margin-bottom: 2em;
}

.mr_sm {
  margin-right: 1em;
}
.mr_md {
  margin-right: 2em;
}

.ml_sm {
  margin-left: 1em;
}
