$primary: #F9D709;
$primary-hover: #eccf10;
$primary-bg: #FBF9C2;
$secondary: #0D55B4;
$accent: #445947;
$text-color: #838383;
$border-color: #E2E2E1;
$background-color: #F8F8F8;
$error: #ff0033;


:root {
  --primary: #F9D709
}