@import "../../../../styles/breakpoints";
@import "../../../../styles/components";

.product {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;

  .name_wrapper {
    display: flex;
    flex: 1 1 100%;
    align-items: flex-end;

    .product_name {
      flex: 1 1 100%;
      justify-content: flex-end;

      @media (max-width: $md) {
        font-size: 0.8rem;
      }
    }
  }

  &_image {
    display: flex;
    height: 15em;
    
    img {
      object-fit: contain;
    }
    
    @media (max-width: $sm) {
      height: 15em;
    }
  }

  .main_product_img {
    display: flex;
    height: 30em;
    
    img {
      object-fit: contain;
    }
    
    @media (max-width: $sm) {
      height: 20em;
    }
  }
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main_button {
    margin-top: 0.5em;
  }
}
