@import "../styles/breakpoints";
@import "../styles/variables";
@import "../styles/layouts";

.showcase {
  margin-top: 7em;
}

.featured {
  margin: 3em 0;
}

.category {
  background: $background-color;
}

.sellers {
  margin: 2em 0;
}

.construction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_nav {
  margin: 4em 1em 1em 1em;
}

.product_tabs {
  background: $background-color;
}

.checkout_nav {
  margin: 4em 1em 1em 1em;
}

.checkout_preview {
  margin: 4em 0;
}


@media (min-width: $sm) {
  .featured {
    margin-bottom: 4em;
  }

  .product_nav {
    margin: 4em 1em 4em 1em;
  }
}
