@import "../styles/breakpoints";
@import "../styles/variables";
@import "../styles/layouts";


.showcase {
  margin-top: 1em;
}

.featured {
  margin: 3em 0;
}

.category {
  background: $background-color;
}

.sellers {
  margin: 2em 0;
}

.construction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $sm) {
  .featured {
    margin-bottom: 4em;
  }
}
