@import "../../../styles/breakpoints";
@import "../../../styles/variables";
@import "../../../styles/components";

.offer_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 1em;

  .first {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
  }

  .other {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}

@media (min-width: $sm) {
  .offer_grid {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .first {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      // align-self: flex-end;
    }
  }
}
