@import "../../styles/variables";
@import "../../styles/breakpoints";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  & > div {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: "Staatliches", Roboto, sans-serif;
  font-size: 2rem;

  span {
    color: $primary;
  }
}

.menu {
  margin-top: 3em;
}

.search_wrapper {
  margin: 0 3em 0 5em;
  flex: 1;

  @media (max-width: $md) {
    margin: 0 2em;
  }
}