@import "../../styles/variables";
@import "../../styles/breakpoints";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & > div {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: "Staatliches", Roboto, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;

  span {
    color: $primary;
  }
}

.drawer {
  padding-right: 5em;
}

.search_wrapper {
  margin: 0 3em 0 5em;
  flex: 1;
}

@media (max-width: $md) {
  .search_wrapper {
    margin: 0 2em;
  }
}

@media (max-width: $sm) {
  .logo {
    display: none;
  }
  .search_wrapper {
    margin: 0 0.5em;
  }
}
