.payment_form {
  .alert {
    margin-bottom: 0.5em;

    li {
      margin-left: 1em;
    }
  }

  form {
    display: flex;
    margin-top: 2em;

    button {
      margin-left: 1em;
    }
  }
}

.payment_card {
  background-color: white;
  padding: 10px 20px 11px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #afafaf;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
