.cart_item {
  .product_image {
    width: 20%;
  }

  .details {
    margin-left: 1em;
    width: 100%;

    .name {
      font-size: 0.9rem;
    }
  }

  .charge_details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-bottom: 0;
    }

    .total {
      flex-basis: 5em;
      margin: 0;
    }
  }
}
