.carousel {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 20em;
  background-color: #269;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, 0.5) 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  &_item {
    display: flex !important;
    align-items: flex-end;
    justify-content: center;
    color: white;
    max-height: 100%;
     
    h4,
    h3,
    p {
      margin-bottom: 0.3em;
    }

    h3 {
      font-size: 2rem;
    }
  }

  img {
    width: 400px;
  }
}
