@import "~antd/dist/antd.css";

@import "styles/variables";
@import "styles/breakpoints";
@import "styles/layouts";

// override antd carousel active button style
.ant-carousel .slick-dots li.slick-active button {
  background: $primary;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

#root {
  height: 100%;
}

img {
  width: 100%;
  display: block;
}

h3,
h4 {
  font-weight: 550;
}
