@import "styles/variables";
@import "styles/breakpoints";

@import '~antd/dist/antd.css';

// override antd carousel active button style
.ant-carousel .slick-dots li.slick-active button {
  background: $primary;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.app {
  max-width: 990px;
  margin: 0 auto;
  padding: 2em 1em;

  @media (max-width: $sm) {
    padding: 1em 0;
  }
}