@import "../../../../styles/variables";

.review_form {
  .header {
    margin-bottom: 2em;
  }

  .rating {
    display: flex;

    p {
      margin-right: 1em;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .review {
      display: flex;
      align-items: flex-start;
      margin-bottom: 0.5em;

      label {
        margin-right: 1em;
      }

      textarea {
        border-radius: 5px;
        outline: none;
        border: 1px solid $input-border-color;
        padding: 0.5em;
      }
    }

    button {
      align-self: flex-end;
    }
  }
}
